[Desktop Entry]
Type=Application
Exec=truecrypt
Icon=truecrypt.png
Comment=On-the-fly encryption
Terminal=false
Name=TrueCrypt
StartupNotify=true
Categories=System;Applications
