[Desktop Entry]
Encoding=UTF-8
Name=Terminal Server Client
Name[de]=Terminalserver-Client
Name[es]=Cliente de Terminal Server
Name[fr]=Client Terminal Server
Name[it]=Client server terminale
Name[ja]=ターミナルサーバクライアント
Name[ko]=터미널 서버 클라이언트
Name[nl]=Terminal Server Client
Name[zh_CN]=终端服务器客户机
Name[zh_TW]=終端機伺服器客戶端
GenericName=Terminal Server Client
GenericName[de]=Terminalserver-Client
GenericName[es]=Cliente de Terminal Server
GenericName[fr]=Client Terminal Server
GenericName[it]=Client server terminale
GenericName[ja]=ターミナルサーバクライアント
GenericName[ko]=터미널 서버 클라이언트
GenericName[nl]=Terminal Server Client
GenericName[zh_CN]=终端服务器客户机
GenericName[zh_TW]=終端機伺服器客戶端
Comment=Setup and initiate remote connections
Exec=tsclient
Icon=tsclient
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
MimeType=application/x-tsclient;
